setuptools==65.5.0
pip==21
wheel==0.38.0
scikit-learn
torch_geometric
colomoto_jupyter
numpy==1.23.5
seaborn
# SB3
stable-baselines3[extras]
sb3-contrib
pytest
pygame
tensorboard
wandb
imageio
# PBN
gymnasium==0.27.0
gym-PBN[vis]==1.1.1
